node_modules
/.*
!/.env.example
!/.git*
/.gitconfig
!/.npmrc
!/.yarnrc.yml
app/build
/certs
/currentproject
/logs
/package
/projects/
/proj_pub/
/src/routes/avatar/
/src/routes/gamble/
/src/routes/guesswho/
/src/routes/shrimp/
/src/routes/wecare/
/src/routes/wecare2/
/static/avatar/
/static/gamble/
/static/guesswho/
/static/images/
/static/shrimp/
/frontend/.*
/tilbot-darwin-arm64
/tilbot-darwin-x64
/tilbot-win32-x64
/tmp_upload/
/dist
/frontend/build

.DS_Store

# Playwright
/tests/integration/frontend/test-results/
/tests/integration/frontend/playwright-report/
/tests/integration/frontend/blob-report/
/tests/integration/frontend/playwright/.cache/
/tests/integration/.npm/
/tests/integration/frontend/.npm/
/backend/projects/

# Ignore additional frontend files for projects by including the ones we need
frontend/src/routes/*
!frontend/src/routes/dashboard
!frontend/src/routes/editor
!frontend/src/routes/login

frontend/static/*
!frontend/static/images
