.DS_Store
node_modules
/build
.cache/
/.svelte-kit
/package
.env
.env.*
.npm/
!.env.example
/logs
/currentproject
/tilbot-win32-x64
/certs
/tilbot-darwin-arm64
/tilbot-darwin-x64
settings.json
tmp_upload/
projects/
proj_pub/
src/routes/guesswho/
static/guesswho/
src/routes/gamble/
static/gamble/
src/routes/avatar/
static/avatar/
src/routes/wecare2/
static/images/
static/shrimp/
src/routes/shrimp/
src/routes/wecare/
/.gitconfig
/.ssh/
/.vscode-server/
