node_modules
/.*
!/.env.example
!/.git*
/.gitconfig
!/.npmrc
app/build
/certs
/currentproject
/logs
/package
/projects/
/proj_pub/
/settings.json
/src/routes/avatar/
/src/routes/gamble/
/src/routes/guesswho/
/src/routes/shrimp/
/src/routes/wecare/
/src/routes/wecare2/
/static/avatar/
/static/gamble/
/static/guesswho/
/static/images/
/static/shrimp/
/frontend/.*
/tilbot-darwin-arm64
/tilbot-darwin-x64
/tilbot-win32-x64
/tmp_upload/
/dist
