services:
  npm-ci:
    build: .
    command: ["npm", "ci"]
    volumes:
    - .:/home/node

  frontend:
    build: .
    working_dir: /home/node/frontend
    depends_on:
      npm-ci:
        condition: service_completed_successfully
    ports:
    - 5173:5173
    restart: unless-stopped
    volumes:
    - .:/home/node
    environment:
    - VITE_API_URL=http://backend:8000
    healthcheck:
      test: curl -f localhost:5173 || exit 1
      interval: 10s
      timeout: 2s
      retries: 20      
    command: ["npm", "run", "dev-vite"]

  backend:
    build: .
    working_dir: /home/node/backend
    depends_on:
      npm-ci:
        condition: service_completed_successfully
      mongo:
        condition: service_healthy        
    ports:
    - 8000:8000
    restart: unless-stopped
    volumes:
    - .:/home/node
    environment:
      LISTEN_PORT: 8000
      MONGO_DB: mongodb://mongo/tilbot
    healthcheck:
      test: curl -f localhost:8000/api/admin_account_exists || exit 1
      interval: 10s
      timeout: 2s
      retries: 20      
    command: ["npm", "run", "start"]

  mongo:
    image: mongo
    ports:
    - 27017:27017
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: tilbot
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 2s
      retries: 20      
    volumes:
    - mongodb:/data/db

  tests:
    profiles:
      - testing
    build:
      dockerfile: ./Dockerfile-tests
    working_dir: /home/node
    depends_on:
      frontend:
        condition: service_healthy
      backend:
        condition: service_healthy
    volumes:
    - .:/home/node
    environment:
      - FRONTEND_ADDRESS=frontend
    command: "npm run test-integration"

volumes:
  mongodb:
